@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BrosMed_Insurance.Models.Reservation.Godzina

@{
    ViewData["Title"] = "Wybierz Godzinę";
}

<h1>Wybierz Godzinę</h1>

<form asp-controller="YourController" asp-action="YourAction" method="post">
    <div class="form-group">
        <label for="godzina">Wybierz godzinę:</label>
        <select class="form-control" id="godzina" name="godzina">
            @foreach (var godzina in Model.Godzinki)
            {
                <option value="@godzina.Id">@godzina.godzinaVM</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Wybierz</button>
</form>